@import "reset.css";


body {
  background: #444;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*
 * List
 */
#todo {
  width: 500px;
  margin: 3em auto;
}

#todo-input {
  width: 100%;
  color: #eece1a;
  font-size: 2em;
  height: 3em;
  background: #373737;
  border: 1px solid black;
  box-shadow: inset 0 0 25px rgba(0,0,0,.1);
  padding: 1em;
}

#todo-counter {
  margin-top: 2em;
  font-size: 1.3em;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: .5em 0;
}

#todo-list {
  margin-top: 1em;
}


/*
 * Items
 */
.todo {
  background: #373737;
  border: 1px solid #eece1a;
  border-radius: .3em;
  font-size: 1.2em;
  padding: 1em;
  margin: .5em 0;
}
.todo-text {
  margin-left: .5em;
}
.todo--done {
  opacity: .5;
}
.todo--done .todo-text {
  text-decoration: line-through;
}
span {
  color: #fff;
}
  
